.upload-img li:nth-child(2n+1) {
    clear: both;
    margin-left: 8%;
    margin-right: 14%;
}
.upload-img li {
    float: left;
    width: 34%;
    .upload-placeholder {
        position: relative;
        height: 1.36rem;
        border: 1px dashed #999;
        font-size: .26rem;
        text-align: center;
        border-radius: .04rem;
        color: #999;
        overflow: hidden;
    }
}
.upload-img li .name {
    padding: 10px;
    font-size: .24rem;
    text-align: center;
    color: #555;
}
.upload-img1 li {
    list-style: none;
    margin-left: 8%;
    margin-top: 8%;
    width: 34%;
    .upload-placeholder {
        position: relative;
        height: 1.36rem;
        border: 1px dashed #999;
        font-size: .26rem;
        text-align: center;
        border-radius: .04rem;
        color: #999;
        overflow: hidden;
    }
}
.upload-img1 li .name {
    padding: 10px;
    font-size: .24rem;
    text-align: center;
    color: #555;
}
// .upload-placeholder8 {
//     position: relative;
//     height: 1.36rem;
//     border: 1px dashed #999;
//     font-size: .26rem;
//     text-align: center;
//     border-radius: .04rem;
//     color: #999;
//     overflow: hidden;
//     width: 2rem;
//     margin-left: 8%;
// }
// .name {
//     padding: 10px;
//     font-size: .24rem;
//     text-align: center;
//     color: #555;
// }